"consumer_key": "twitter API Key"
"consumer_secret": "twitter API Secret"

"access_token" = "twitter access token"
"access_token_secret" = "twitter access token secret"

"webhook": "discord webhook url"
